#cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgCont{
    width: 18rem;
    object-fit: cover;
}
#catalogImg {
    width: 100%;
    min-height: 483.043px;
}
#card{
    width: calc(100% / 4 - 1rem);
}
#title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.swiper {
    width: 350px;
    /* height: 600px; */
}
.swiper-button-prev{
    position: relative;
    left: -100px !important;
}
.swiper-button-next{
    position: relative;
    right: -100px !important;
}